<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="analytics">
				{% include googleanalytics.html %}
			</div>
			<div class="adsense">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Music Ads -->
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-8521889456404188"
				     data-ad-slot="2925163354"
				     data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:neilsendjuanedi@gmail.com">email</a></li>
	        		<li><a href="https://github.com/JDneX">github.com/JDneX</a></li>
				</ul>
			</footer>
		</body>
	</html>
